*,
::before,
::after {
    box-sizing: border-box;
}

html {
  scroll-padding-top: 200px; 
  scroll-behavior: smooth;
}

body {
    margin: 0;
}

a{
    cursor: pointer;
}

h1 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indexHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(images/Visbyimg.jpg);
    background-size: cover;
    /* gör att bilden täcker hela ytan */
    background-repeat: no-repeat;
    /* hindrar att bilden upprepas */
    background-position: center;
    justify-content: center;
    align-items: center;
    scroll-padding-top: 700;
}

.landsMarke{
    display: flex;
    width: 10rem;
    height: 10rem;
}

.indexHeader h1{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 100px;
    color: dodgerblue;
    margin-bottom: 10px;
}

.indexNav {
    display: flex;
    width: 40rem;
    height: 5rem;
    justify-content: space-around;
    padding: 1rem;
    background-color: transparent;
}

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;
    color: white;
    background-color: dodgerblue;
    border: none;
}

.dropDownArrow{
    display: flex;
    margin-top: auto;
    height: 15rem;
    width: 15rem;
    transition: 2s ease;
}

/*Main*/

.cardSection {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}

.cards {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 20rem;
    height: 23rem;
    background-color: aliceblue;
    transition: 0.5s;
}

.cards:hover {
    transform: scale(1.05);
}

.cards h2 {
    text-align: center;
    margin: 2px;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* beskär proportionerligt så att bilden fyller ytan */
    grid-row: 1 / 2;
    /* placerar bilden i den första raden */
}

.radiusSection {
    display: grid;
    place-items: center;
    margin-top: 5rem;
    padding: 4rem;
    grid-template-columns: auto, auto, auto;
    /* mittenkolumnen är dubbelt så bred */
    grid-template-rows: auto, auto, auto;
    background-color: dodgerblue;
    width: 100%;
    height: auto;
}

.radiusNatur {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-row: 1;
    grid-column: 2/3;
    background-image: url(images/120046-500-500-Kallgatburg-Gotland-spang-och-vatten.jpg);
    background-size: cover;
    /* gör att bilden täcker hela ytan */
    background-repeat: no-repeat;
    /* hindrar att bilden upprepas */
    background-position: center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.radiusAktivitet {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
    background-image: url(images/foretagsaktivitet_rattvik-scaled.jpg);
    background-size: cover;
    /* gör att bilden täcker hela ytan */
    background-repeat: no-repeat;
    /* hindrar att bilden upprepas */
    background-position: center;
    place-self: end;
    background-color: blue;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.radiusPolitik {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 3;
    background-image: url(images/Copilot_20260914_173123.png);
    background-size: cover;
    /* gör att bilden täcker hela ytan */
    background-repeat: no-repeat;
    /* hindrar att bilden upprepas */
    background-position: center;
    background-size: 300px;
    place-self: start;
    background-color: blue;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.radiusSee {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3;
    grid-column: 2;
    background-image: url(images/gotland-5951549_1280.jpg.webp);
    background-size: cover;
    /* gör att bilden täcker hela ytan */
    background-repeat: no-repeat;
    /* hindrar att bilden upprepas */
    background-position: center;
    align-self: center;
    background-color: blue;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.content {
    display: flex;
    width: auto;
    height: 2rem;
    padding: 4px;
    background-color: aliceblue;
    justify-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.middleIcon {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    width: 15rem;
    height: 13rem;
    transition: transform 0.3s ease;
}

.radiusAktivitet:hover~.middleIcon,
.radiusNatur:hover~.middleIcon,
.radiusPolitik:hover~.middleIcon,
.radiusSee:hover~.middleIcon {
    transform: rotate(180deg);
}

/* Albin skriv under detta*/

.kontaktFormular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 50%;
    margin-left: 25%;
}